boto3==1.4.3
botocore==1.4.93
docutils==0.13.1
futures==3.0.5
Jinja2==2.9.4
jmespath==0.9.0
MarkupSafe==0.23
numpy==1.9.1
python-dateutil==2.6.0
requests==2.12.4
six==1.10.0
wheel==0.29.0
python-dotenv==0.6.2
git+git://github.com/gipit/gippy.git@develop
git+git://github.com/ghrcdaac/cmr.git@master
